<section class="container">
    <h2 class="h1 py-5 font-weight-bold text-center">Broadband connection</h2>
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Now getting a new Broadband connection is as easy as it seems!, just give us your contact number we'll contact you and let you know what you need to do to get a new broadband connection.</p>
    <div class="row pt-2">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto text-center">
            <form>
                <div class="card mx-auto mt-2 mb-2">
                    <div class="card-body mx-4">
                        <div class="text-center">
                            <h3 class="dark-grey-text mb-5">
                                <strong>Sign Up</strong>
                            </h3>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control" [(ngModel)]="email" #input="ngModel" required pattern="[^ @]*@[^ @]*">
                            <label for="email">Email </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="mobile" type="tel" id="form8" class="form-control" [(ngModel)]="mobile" #input="ngModel" required pattern="[789][0-9]{9}">
                            <label for="form2">Mobile </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="password" id="password" type="password" class="form-control" [(ngModel)]="password" #input="ngModel" required pattern="[0-9a-zA-Z]{8,16}">
                            <label for="form2">Password </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form pb-3 md-outline">
                            <input mdbInput mdbValidate name="repassword" id="repassword" type="password" class="form-control" [(ngModel)]="repassword" #input="ngModel" required pattern="[0-9a-zA-Z]{8,16}">
                            <label for="form2">Re-enter Password </label>
                            <mdb-error class="offset-5" *ngIf="password != repassword"> Password not matched</mdb-error>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)&& password != repassword"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)&& password == repassword"></mdb-success>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-effect waves-light text-white">Sign up</button>
                        </div>
                    </div>
                    <div class="modal-footer mx-5 pt-3 mb-1">
                        <p class="font-small grey-text d-flex justify-content-end">Already a member?
                            <a href="#" class="blue-text ml-1"> Log In</a>
                        </p>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 mx-auto mt-2 mb-2">
            <!-- <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0"> -->
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <a routerLink="/"><img class="d-block w-100" height="500px" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"></a>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <a routerLink="/"><img class="d-block w-100" height="500px" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide"></a>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <a routerLink="/"><img class="d-block w-100" height="500px" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide"></a>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</section>