<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
        <div class="card">
          <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
            <h5 class="text-uppercase mb-0 py-1">
              <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true"
                aria-controls="collapse96">
            How to contact customer care?
              </a>
            </h5>
          </div>
          <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96"
            data-parent="#accordionEx23">
            <div class="card-body">
              <div class="row my-4">
                <div class="col-md-8">
                 
                  <p class="">In case you wish to contact customer care, please call us at 121 for queries/requests and 198 for complaints. Alternatively, you can write to us at 121@voizfonica.com</p>
                
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
            <h5 class="text-uppercase mb-0 py-1">
              <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
                aria-expanded="false" aria-controls="collapse97">
                How to view my current plan?
              </a>
            </h5>
          </div>
          <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97"
            data-parent="#accordionEx23">
            <div class="card-body">
              <div class="row my-4">
                <div class="col-md-8">
                 
                  <p class="">Simply login at voizfonica.com and go to Billing section to view your current bill.</p>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
            <h5 class="text-uppercase mb-0 py-1">
              <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
                aria-expanded="false" aria-controls="collapse98">
                How to migrate from postpaid and prepaid?
              </a>
            </h5>
          </div>
          <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98"
            data-parent="#accordionEx23">
            <div class="card-body">
              <div class="row my-4">
                <div class="col-md-8">
                  
                  <p class="">Please visit the nearest Airtel Store with your Aadhaar number to convert the number from postpaid to prepaid. In case you do not have Aadhaar number, don’t forget to carry your Identity and Address proof with you.</p>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
    

        <div class="card">
                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                  <h5 class="text-uppercase mb-0 py-1">
                    <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse99"
                      aria-expanded="false" aria-controls="collapse99">
                      How to view my past payments?
                    </a>
                  </h5>
                </div>
                <div id="collapse99" class="collapse" role="tabpanel" aria-labelledby="heading99"
                  data-parent="#accordionEx23">
                  <div class="card-body">
                    <div class="row my-4">
                      <div class="col-md-8">
                       
                        <p class="">Simply login at voizfonica.com and go to Billing section >> Last Payments to view details of last 3 payments made.</p>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading100">
                      <h5 class="text-uppercase mb-0 py-1">
                        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse100"
                          aria-expanded="false" aria-controls="collapse100">
                          How to change my bill plans?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse100" class="collapse" role="tabpanel" aria-labelledby="heading100"
                      data-parent="#accordionEx23">
                      <div class="card-body">
                        <div class="row my-4">
                          <div class="col-md-8">
                           
                            <p class="">Simply login at voizfonica.com and go to Plan & Services >> Update Rental to change your bill plan.</p>
                            
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading101">
                          <h5 class="text-uppercase mb-0 py-1">
                            <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse101"
                              aria-expanded="false" aria-controls="collapse101">
                              How to view my current bill plan?
                            </a>
                          </h5>
                        </div>
                        <div id="collapse101" class="collapse" role="tabpanel" aria-labelledby="heading101"
                          data-parent="#accordionEx23">
                          <div class="card-body">
                            <div class="row my-4">
                              <div class="col-md-8">
                               
                                <p class="">Simply login at voizfonica.com and go to Plan & Services >> View Plan to view your current bill plan benefits.</p>
                                
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
      
          </div>

      <!--Accordion wrapper-->