<!-- Footer -->
<footer class="page-footer font-small morpheus-den-gradient pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">VoizFonica</h6>
                <p>Transforming digital experience.
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a routerLink="/connect">Prepaid</a>
                </p>
                <p>
                    <a routerLink="/connect">Postpaid</a>
                </p>
                <p>
                    <a routerLink="/dongle">Dongle</a>
                </p>

            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a routerLink="/login">Your Account</a>
                </p>
                <p>
                    <a routerLink="/prepaidrecharge">Quick recharge</a>
                </p>
                <p>
                    <a routerLink="/shop">Best Offers</a>
                </p>
                <p>
                    <a routerLink="/customersupport">Help</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
                <p>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> <a routerLink="/customersupport"> Customer support </a>
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon><a routerLink="/customersupport">info@voizfonica.com</a>
                </p>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon><a routerLink="/"> 1800 1100 100 200</a>
                </p>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon><a routerLink="/"> 1800 1100 100 300</a>
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-6">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright
                    <a href="/">
                        <strong> VoizFonica</strong>
                    </a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-6 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
							<!--Facebook-->
							<a class="btn-floating btn-sm btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item">
							<!--Twitter-->
							<a class="btn-floating btn-sm btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<!--Google +-->
							<a class="btn-floating btn-sm btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
						</li>
						<li class="list-inline-item">
							<!--Instagram-->
							<a class="btn-floating btn-sm btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
						</li>
						<li class="list-inline-item">
							<!--Stack Overflow-->
							<a class="btn-floating btn-sm btn-so" type="button" role="button"><i class="fab fa-stack-overflow"></i></a>
						</li>
						<li class="list-inline-item">
							<!--Youtube-->
							<a class="btn-floating btn-sm btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
						</li>
						<li class="list-inline-item">
							<!--Github-->
							<a class="btn-floating btn-sm btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>