<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="sidebar ">
            <div class="pt-3 pb-3 pl-2">
                <strong style="font-size: 20px">Hi User</strong>
            </div>
            <div class="list-group list-group-flush">

                <a class="list-group-item list-group-item-action waves-effect active" data-toggle="tab" href="#panel1" role="tab">
                    <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>FAQ
                </a>
                <a class="list-group-item list-group-item-action waves-effect" data-toggle="tab" href="#panel2" role="tab">
                    <mdb-icon fas icon="user" class="mr-3"></mdb-icon>INQUIRY
                </a>
                <a class="list-group-item list-group-item-action waves-effect" data-toggle="tab" href="#panel3" role="tab">
                    <mdb-icon fas icon="user" class="mr-3"></mdb-icon>FEEDBACK/COMPLAINT
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-9">
        <div class="tab-content">
            <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                    <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true" aria-controls="collapse96">
        How to contact customer care?
          </a>
                            </h5>
                        </div>
                        <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">In case you wish to contact customer care, please call us at 121 for queries/requests and 198 for complaints. Alternatively, you can write to us at 121@voizfonica.com</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97" aria-expanded="false" aria-controls="collapse97">
            How to view my current plan?
          </a>
                            </h5>
                        </div>
                        <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Simply login at voizfonica.com and go to Billing section to view your current bill.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98" aria-expanded="false" aria-controls="collapse98">
            How to migrate from postpaid and prepaid?
          </a>
                            </h5>
                        </div>
                        <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Please visit the nearest Airtel Store with your Aadhaar number to convert the number from postpaid to prepaid. In case you do not have Aadhaar number, don’t forget to carry your Identity and Address proof with you.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse99" aria-expanded="false" aria-controls="collapse99">
                  How to view my past payments?
                </a>
                            </h5>
                        </div>
                        <div id="collapse99" class="collapse" role="tabpanel" aria-labelledby="heading99" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Simply login at voizfonica.com and go to Billing section >> Last Payments to view details of last 3 payments made.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading100">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse100" aria-expanded="false" aria-controls="collapse100">
                      How to change my bill plans?
                    </a>
                            </h5>
                        </div>
                        <div id="collapse100" class="collapse" role="tabpanel" aria-labelledby="heading100" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Simply login at voizfonica.com and go to Plan & Services >> Update Rental to change your bill plan.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading101">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse101" aria-expanded="false" aria-controls="collapse101">
                          How to view my current bill plan?
                        </a>
                            </h5>
                        </div>
                        <div id="collapse101" class="collapse" role="tabpanel" aria-labelledby="heading101" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Simply login at voizfonica.com and go to Plan & Services >> View Plan to view your current bill plan benefits.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Accordion wrapper-->

            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane fade" id="panel2" role="tabpanel">
                <!-- Material form contact -->
                <div class="container">
                    <div class="card">

                        <h5 class="card-header info-color white-text text-center py-4">
                            <strong>Contact us</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="#!">

                                <!-- Name -->
                                <div class="md-form md-outline">

                                    <input type="text" id="materialContactFormName" class="form-control">
                                    <label for="materialContactFormName">Name</label>

                                </div>

                                <!-- E-mail -->
                                <div class="md-form md-outline">
                                    <input type="email" id="materialContactFormEmail" class="form-control">
                                    <label for="materialContactFormEmail">E-mail</label>
                                </div>
                                <div class="md-form md-outline">

                                    <input type="password" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
                                    <label for="materialRegisterFormPhone">Phone number</label>




                                </div>

                                <!--Message-->
                                <div class="md-form md-outline">
                                    <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                                    <label for="materialContactFormMessage">Message</label>
                                </div>


                                <!-- Send button -->
                                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

                            </form>
                            <!-- Form -->

                        </div>

                    </div>
                </div>
                <!-- Material form contact -->

            </div>

            <!--/.Panel 2-->
            <div class="tab-pane fade in" id="panel3" role="tabpanel">
                <!--/.your content here-->
                <!-- Material form contact -->
                <!-- Material form contact -->
                <div class="container">
                    <div class="card">

                        <h5 class="card-header info-color white-text text-center py-4">
                            <strong>Contact us</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="#!">

                                <!-- Name -->
                                <div class="md-form md-outline">

                                    <input type="text" id="materialContactFormName" class="form-control">
                                    <label for="materialContactFormName">Name</label>

                                </div>

                                <!-- E-mail -->
                                <div class="md-form md-outline">
                                    <input type="email" id="materialContactFormEmail" class="form-control">
                                    <label for="materialContactFormEmail">E-mail</label>
                                </div>

                                <!-- Subject -->
                                <span>Subject</span>
                                <select class="mdb-select">
                    <option value="" disabled>Choose option</option>
                    <option value="1" selected>Feedback</option>
                    <option value="2">Complaint</option>
                    
                </select>

                                <!--Message-->
                                <div class="md-form md-outline">
                                    <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                                    <label for="materialContactFormMessage">Message</label>
                                </div>


                                <!-- Send button -->
                                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

                            </form>
                            <!-- Form -->

                        </div>

                    </div>
                </div>
                <!-- Material form contact -->
            </div>

        </div>
    </div>
</div>