<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="sidebar ">
            <div class="pt-3 pb-3 pl-2">
                <strong style="font-size: 20px">Hi User</strong>
            </div>
            <div class="list-group list-group-flush ml-1">

                <a class="list-group-item list-group-item-action  waves-effect active" data-toggle="tab" href="#panel1" role="tab">
                    <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>FAQ
                </a>
                <a class="list-group-item list-group-item-action  waves-effect" data-toggle="tab" href="#panel2" role="tab">
                    <mdb-icon fas icon="user" class="mr-3"></mdb-icon>INQUIRY
                </a>
                <a class="list-group-item list-group-item-action waves-effect " data-toggle="tab" href="#panel3" role="tab">
                    <mdb-icon fas icon="user" class="mr-3"></mdb-icon>FEEDBACK/COMPLAINT
                </a>
            </div>

        </div>
    </div>
    <div class="col-md col-lg col-xl mr-1">
        <div class="tab-content">
            <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                    <div class="card">
                        <div class="card-header grey lighten-1 z-depth-1" role="tab" id="heading96">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true" aria-controls="collapse96">
            How to contact customer care?
              </a>
                            </h5>
                        </div>
                        <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">In case you wish to contact customer care, please call us at 1800 1100 100 200/300. Alternatively, you can write to us at info@voizfonica.com</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header grey lighten-1 z-depth-1" role="tab" id="heading97">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97" aria-expanded="false" aria-controls="collapse97">
                How to view my current plan?
              </a>
                            </h5>
                        </div>
                        <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Simply login at voizfonica.com and go to dashboard.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header grey lighten-1 z-depth-1" role="tab" id="heading98">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98" aria-expanded="false" aria-controls="collapse98">
                How to migrate from prepaid to postpaid?
              </a>
                            </h5>
                        </div>
                        <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Goto New Connection -> Upgrade to postpaid.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> 


             <div class="card">
                        <div class="card-header grey lighten-1 z-depth-1" role="tab" id="heading97">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse99" aria-expanded="false" aria-controls="collapse99">
                      How to check current offers?
                    </a>
                            </h5>
                        </div>
                        <div id="collapse99" class="collapse" role="tabpanel" aria-labelledby="heading99" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Goto Shop and view offers.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header grey lighten-1 z-depth-1" role="tab" id="heading100">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse100" aria-expanded="false" aria-controls="collapse100">
                          How to do porting?
                        </a>
                            </h5>
                        </div>
                        <div id="collapse100" class="collapse" role="tabpanel" aria-labelledby="heading100" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Goto New Connection -> Mobile Number Portability</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!--<div class="card">
                        <div class="card-header grey lighten-1 z-depth-1" role="tab" id="heading101">
                            <h5 class="text-uppercase mb-0 py-1">
                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse101" aria-expanded="false" aria-controls="collapse101">
                              How to view my current bill plan?
                            </a>
                            </h5>
                        </div>
                        <div id="collapse101" class="collapse" role="tabpanel" aria-labelledby="heading101" data-parent="#accordionEx23">
                            <div class="card-body">
                                <div class="row my-4">
                                    <div class="col-md-8">

                                        <p class="">Simply login at voizfonica.com and go to Plan & Services >> View Plan to view your current bill plan benefits.</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>-->
                </div> 


                <!--Accordion wrapper-->

            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane fade" id="panel2" role="tabpanel">
                <!-- Material form contact -->
                <div class="container">
                    <div class="card">

                        <h5 class="card-header info-color white-text text-center py-4">
                            <strong>Contact us</strong>
                        </h5>


                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="#!">

                                <form [formGroup]="customerForm">
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="materialContactFormName" class="form-control" formControlName="name" [(ngModel)]="inquirydetails.name" required pattern="[a-zA-Z\s]{5,25}">
                                        <label for="materialContactFormName">Name</label>
                                        <mdb-error *ngIf="name.invalid && (name.dirty ||name.touched)"> </mdb-error>
                                        <mdb-success *ngIf="name.valid && (name.dirty ||name.touched)"> </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="email" id="materialContactFormEmail" class="form-control" formControlName="email" [(ngModel)]="inquirydetails.email"required pattern="[0-9a-zA-Z\.]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                                        <label for="materialContactFormEmail">E-mail</label>
                                        <mdb-error *ngIf="email.invalid && (email.dirty ||email.touched)"> </mdb-error>
                                        <mdb-success *ngIf="email.valid && (email.dirty ||email.touched)"> </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="tel" id="materialRegisterFormPhone" formControlName="phonenumber" [(ngModel)]="inquirydetails.phone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock" required pattern="[789][0-9]{9}">
                                        <label for="materialRegisterFormPhone">Phone number</label>
                                        <mdb-error *ngIf="phonenumber.invalid && (phonenumber.dirty ||phonenumber.touched)"> </mdb-error>
                                        <mdb-success *ngIf="phonenumber.valid && (phonenumber.dirty ||phonenumber.touched)"> </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <textarea mdbInput mdbValidate id="materialContactFormMessage" class="form-control md-textarea" formControlName="message" [(ngModel)]="inquirydetails.message" rows="3"></textarea>
                                        <label for="materialContactFormMessage">Message</label>
                                        <mdb-error *ngIf="message.invalid && (message.dirty ||message.touched)"> </mdb-error>
                                        <mdb-success *ngIf="message.valid && (message.dirty ||message.touched)"> </mdb-success>
                                    </div>

                                    <div class="text-center mb-3">
                                        <button type="submit" [disabled]='name.invalid || email.invalid || phonenumber.invalid || message.invalid' class="btn blue-gradient btn-block rounded z-depth-1a waves-effect waves-light text-white" (click)="createinquiry()">Send</button>
                                    </div>
                                    <!-- Form -->

                                </form>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Material form contact -->

            </div>

            <!--/.Panel 2-->
            <div class="tab-pane fade in" id="panel3" role="tabpanel">
                <!--/.your content here-->
                <!-- Material form contact -->
                <!-- Material form contact -->
                <div class="container">
                    <div class="card">

                        <h5 class="card-header info-color white-text text-center py-4">
                            <strong>Contact us</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="#!">

                                <form [formGroup]="customerfeedbackForm">
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="materialContactFormName" formControlName="fname" class="form-control"  [(ngModel)]="feedbackdetails.fname"  required pattern="[a-zA-Z]{5,15}">
                                        <label for="materialContactFormName">Name</label>
                                        <mdb-error *ngIf="fname.invalid && (fname.dirty ||fname.touched)"> </mdb-error>
                                        <mdb-success *ngIf="fname.valid && (fname.dirty ||fname.touched)"> </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="email" id="materialContactFormEmail" formControlName="femail" class="form-control" [(ngModel)]="feedbackdetails.femail" required pattern="[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                                        <label for="materialContactFormEmail">E-mail</label>
                                        <mdb-error *ngIf="femail.invalid && (femail.dirty ||femail.touched)"> </mdb-error>
                                        <mdb-success *ngIf="femail.valid && (femail.dirty ||femail.touched)"> </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="materialContactFormSubject" formControlName="fsubject" class="form-control" [(ngModel)]="feedbackdetails.fsubject" required pattern="[a-zA-Z]*">
                                        <label for="materialContactFormSubject">Subject</label>
                                        <mdb-error *ngIf="fsubject.invalid && (fsubject.dirty ||fsubject.touched)"> </mdb-error>
                                        <mdb-success *ngIf="fsubject.valid && (fsubject.dirty ||fsubject.touched)"> </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <textarea mdbInput mdbValidate id="materialContactFormMessage" class="form-control md-textarea" [(ngModel)]="feedbackdetails.fmessage" formControlName="fmessage" rows="3"></textarea>
                                        <label for="materialContactFormMessage">Message</label>
                                        <mdb-error *ngIf="fmessage.invalid && (fmessage.dirty ||fmessage.touched)"> </mdb-error>
                                        <mdb-success *ngIf="fmessage.valid && (fmessage.dirty ||fmessage.touched)"> </mdb-success>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" [disabled]='fname.invalid || femail.invalid || fsubject.invalid  || fmessage.invalid' class="btn blue-gradient btn-block rounded z-depth-1a waves-effect waves-light text-white" (click)="createfeedback()">Send</button>
                                    </div>
                                </form>
                            </form>
                            <!-- Form -->

                        </div>

                    </div>
                </div>
                <!-- Material form contact -->
            </div>

        </div>
    </div>
</div>