<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <h2 class="pb-4 pt-4 text-center">Choose a plan</h2>
  <div class="card-deck">
    <div class="card border-secondary mb-3" style="max-width: 30rem; ">
      <div class="card-header text-white bg-secondary ">PLAN-1</div>
      <div class="card-body text-secondary ">
        <div class="row">
          <div class="col">
              <h6 class="card-title text-dark ">Plan Name:<span>&nbsp;Plan-1</span></h6>
            <h6 class="card-title text-dark ">Data: <span>&nbsp;50 GB</span></h6>
            <h6 class="card-title text-dark ">Validity:<span>&nbsp;1 month</span></h6>
            <h6 class="card-title text-dark ">Price:<span>&nbsp;Rs 499</span></h6>
          </div>
          <div class="col">
            <button type="submit" routerLink="/payment" class="btn btn-outline-secondary waves-effect " style="font-size: 15px ">Buy</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card border-secondary mb-3 " style="max-width: 30rem; ">
      <div class="card-header text-white bg-secondary ">PLAN-2</div>
      <div class="card-body text-secondary ">
        <div class="row">
          <div class="col">
              <h6 class="card-title text-dark ">Plan Name:<span>&nbsp;Plan-2</span></h6>
            <h6 class="card-title text-dark ">Data: <span>&nbsp;75 GB</span></h6>
            <h6 class="card-title text-dark ">Validity:<span>&nbsp;1 month</span></h6>
            <h6 class="card-title text-dark ">Price :<span>&nbsp;Rs 699</span></h6>
          </div>
          <div class="col">
            <button type="submit" routerLink="/payment" class="btn btn-outline-secondary waves-effect " style="font-size: 15px ">Buy</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-secondary mb-3 " style="max-width: 30rem; ">
      <div class="card-header text-white bg-secondary ">PLAN-3</div>
      <div class="card-body text-secondary ">
        <div class="row">
          <div class="col">
              <h6 class="card-title text-dark ">Plan Name:<span>&nbsp;Plan-3</span></h6>
            <h6 class="card-title text-dark ">Data: <span>&nbsp;100 GB</span></h6>
            <h6 class="card-title text-dark ">Validity:<span>&nbsp;1 month</span></h6>
            <h6 class="card-title text-dark ">Price:<span>&nbsp;Rs 999</span></h6>
          </div>
          <div class="col">
            <button type="submit" routerLink="/payment" class="btn btn-outline-secondary waves-effect " style="font-size: 15px ">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5"></div>
</div>