<section class="container-fluid pl-5">
    <h2 class="h1 pt-2 font-weight-bold text-center">Dongle</h2>
    <div class="row pt-2">
        <div class="col-lg-5 col-md-5 ml-0 pl-0 text-center">
            <form>
                <div class="card mt-2 mb-2">
                    <div class="card-body mx-4">
                        <div class="text-center">
                            <h3 class="dark-grey-text mb-3">
                                <h5>Fill in the details</h5>
                            </h3>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="name" type="text" id="name" class="form-control" [(ngModel)]="name" #input="ngModel" required pattern="[A-Z][a-z]{5,15}">
                            <label for="name">Name </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control" [(ngModel)]="email" #input="ngModel" required pattern="[^ @]*@[^ @]*">
                            <label for="email">Email </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="mobile" type="tel" id="form8" class="form-control" [(ngModel)]="mobile" #input="ngModel" required pattern="[789][0-9]{9}">
                            <label for="form2">Mobile </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate name="city" id="city" type="text" class="form-control" [(ngModel)]="city" #input="ngModel" required pattern="[a-zA-Z]{3,16}">
                            <label for="form2">City </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="md-form pb-3 md-outline">
                            <input mdbInput mdbValidate name="address" id="address" type="text" class="form-control" [(ngModel)]="address" #input="ngModel" required pattern="[0-9a-zA-Z]{8,16}">
                            <label for="form2">Address </label>
                            <mdb-error *ngIf="input.invalid && (input.dirty ||input.touched)"> </mdb-error>
                            <mdb-success *ngIf="input.valid && (input.dirty ||input.touched)"></mdb-success>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" routerLink="/payment" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-effect waves-light text-white">Get now</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>

        <div class="col-lg-3 col-md-3 pt-3 mx-auto">
            <img src="./assets/images/dongle.png" class="img img-fluid">
            <div class=" mx-auto">
                <button type="button" class="mt-3 btn disabled btn-outline-info">Rs 2100/-</button>
            </div>
            <div class="card border-secondary mt-4" style="width:20rem; height: 11rem;">
                <div class="card-header text-white amy-crisp-gradient">PACK-1</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-dark">Data: <span>&nbsp;50 GB</span></h6>

                            <h6 class="card-title text-dark">Validity:<span>&nbsp;1 month</span></h6>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary waves-effect" style="font-size: 15px"><i class="fa fa-rupee"></i>500</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mx-auto">
            <div class="card amy-crisp-gradient text-white mb-3 pt-3">
                <div class="btn-floating card-body pt-0 mb-0 pb-0">
                    <h5 class="card-title">Multi SIM Network 4G Dongle Data Card</h5>
                    <div class="card-text text-white">
                        <ul class="list">
                            <li>Expandable Memory Capacity: 32</li>
                            <li>3G/4G SIM</li>
                            <li>SMS Support</li>
                            <li>OS: Windows</li>
                            <li>Power Source: USB</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card border-secondary " style="max-width: 30rem; height: 11rem;">
                <div class="card-header text-white amy-crisp-gradient">PACK-2</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-dark">Data: <span>&nbsp;75 GB</span></h6>
                            <h6 class="card-title text-dark">Validity:<span>&nbsp;1 month</span></h6>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary waves-effect" style="font-size: 15px"><i class="fa fa-rupee"></i>850</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>