<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="sidebar pt-5">
            <div class="list-group list-group-flush text-center">

                <a class="list-group-item list-group-item-action waves-effect active" data-toggle="tab" href="#panel1" role="tab">
                    <i class="fas fa-signal"></i>&nbsp;Prepaid Connection
                </a>
                <a class="list-group-item list-group-item-action waves-effect" data-toggle="tab" href="#panel2" role="tab">
                    <i class="fas fa-sim-card"></i>&nbsp;Postpaid Connection
                </a>


            </div>

        </div>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-9">
        <div class="tab-content">
            <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                <!--/.your content here-->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="container">
                    <div class="row pt-3 pb-3">
                        <div class="col-md-12 text-center">
                            <h2 class="text-primary">Prepaid Connection</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="pb-3">Fill the below form to get your SIM home delivered</h5>
                        <!-- Default horizontal form -->
                        <form [formGroup]="prepaidForm">
                            <div class="card col-lg-8 mx-auto col-md-10 col-sm-12 mt-2 mb-2">
                                <div class="card-body mx-6">
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="name" class="form-control" formControlName="nameInput" required pattern="[a-zA-Z\s]{5,25}">
                                        <label for="name">Name</label>
                                        <mdb-error *ngIf="nameInput.invalid && (nameInput.dirty ||nameInput.touched)"></mdb-error>
                                        <mdb-success *ngIf="nameInput.valid && (nameInput.dirty ||nameInput.touched)"></mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="emailInput" required pattern="[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                                        <label for="email">Email </label>
                                        <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty ||emailInput.touched)">
                                        </mdb-error>
                                        <mdb-success *ngIf="emailInput.valid && (emailInput.dirty ||emailInput.touched)">
                                        </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="tel" id="mobile" class="form-control" formControlName="mobileInput" required pattern="[789][0-9]{9}">
                                        <label for="mobile">Mobile </label>
                                        <mdb-error *ngIf="mobileInput.invalid && (mobileInput.dirty ||mobileInput.touched)">
                                        </mdb-error>
                                        <mdb-success *ngIf="mobileInput.valid && (mobileInput.dirty ||mobileInput.touched)">
                                        </mdb-success>
                                    </div>

                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="address" class="form-control" formControlName="addressInput" required pattern="[0-9 a-z A-Z]*\,?[a-zA-Z\s]{6,30}\,?\s?[a-zA-Z]{4,25}">
                                        <label for=" address ">Address </label>
                                        <mdb-error *ngIf="addressInput.invalid && (addressInput.dirty ||addressInput.touched) ">
                                        </mdb-error>
                                        <mdb-success *ngIf="addressInput.valid && (addressInput.dirty ||addressInput.touched) ">
                                        </mdb-success>
                                    </div>
                                    <div class="md-form md-outline ">
                                        <input mdbInput mdbValidate type="text " id="city" class="form-control" formControlName="cityInput" required pattern="[a-zA-Z]{3,15}">
                                        <label for="mobile">City </label>
                                        <mdb-error *ngIf="cityInput.invalid && (cityInput.dirty ||cityInput.touched)"></mdb-error>
                                        <mdb-success *ngIf="cityInput.valid && (cityInput.dirty ||cityInput.touched)"></mdb-success>
                                    </div>
                                    <div class="md-form md-outline ">
                                        <input mdbInput mdbValidate type="tel " id="pincode" class="form-control" formControlName="pincodeInput" required pattern="[1-9][0-9]{5}">
                                        <label for="pincode">Pincode </label>
                                        <mdb-error *ngIf="pincodeInput.invalid && (pincodeInput.dirty ||pincodeInput.touched)">
                                        </mdb-error>
                                        <mdb-success *ngIf="pincodeInput.valid && (pincodeInput.dirty ||pincodeInput.touched)">
                                        </mdb-success>
                                    </div>


                                    <div class="text-center mb-3 ">
                                        <button type="submit " routerLink="" [disabled]='nameInput.invalid || emailInput.invalid || mobileInput.invalid || addressInput.invalid || cityInput.invalid || pincodeInput.invalid' class="btn btn-secondary btn-block ">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Default horizontal form -->
                    </div>
                </div>


                <!--/.Panel 1-->
            </div>

            <div class="tab-pane fade" id="panel2" role="tabpanel">
                <!--Panel 2-->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="container">
                    <div class="row pt-3 pb-3">
                        <div class="col-md-12 text-center">
                            <h2 class="text-primary">Postpaid Connection</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="pb-3">Fill the below form to get your SIM home delivered</h5>
                        <!-- Default horizontal form -->
                        <form [formGroup]="postpaidForm">
                            <div class="card col-lg-8 mx-auto col-md-10 col-sm-12 mt-2 mb-2">
                                <div class="card-body mx-6">
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="name" class="form-control" formControlName="fnameInput" required pattern="[a-zA-Z\s]{5,15}">
                                        <label for="name">Name</label>
                                        <mdb-error *ngIf="nameInput.invalid && (nameInput.dirty ||nameInput.touched)"></mdb-error>
                                        <mdb-success *ngIf="nameInput.valid && (nameInput.dirty ||nameInput.touched)"></mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="femailInput" required pattern="[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                                        <label for="email">Email </label>
                                        <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty ||emailInput.touched)">
                                        </mdb-error>
                                        <mdb-success *ngIf="emailInput.valid && (emailInput.dirty ||emailInput.touched)">
                                        </mdb-success>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="tel" id="mobile" class="form-control" formControlName="fmobileInput" required pattern="[789][0-9]{9}">
                                        <label for="mobile">Mobile </label>
                                        <mdb-error *ngIf="mobileInput.invalid && (mobileInput.dirty ||mobileInput.touched)">
                                        </mdb-error>
                                        <mdb-success *ngIf="mobileInput.valid && (mobileInput.dirty ||mobileInput.touched)">
                                        </mdb-success>
                                    </div>

                                    <div class="md-form md-outline">
                                        <input mdbInput mdbValidate type="text" id="address" class="form-control" formControlName="faddressInput" required pattern="[0-9 a-z A-Z]*\,?[a-zA-Z\s]{6,30}\,?\s?[a-zA-Z]{4,25}">
                                        <label for=" address ">Address </label>
                                        <mdb-error *ngIf="addressInput.invalid && (addressInput.dirty ||addressInput.touched) ">
                                        </mdb-error>
                                        <mdb-success *ngIf="addressInput.valid && (addressInput.dirty ||addressInput.touched) ">
                                        </mdb-success>
                                    </div>
                                    <div class="md-form md-outline ">
                                        <input mdbInput mdbValidate type="text " id="city" class="form-control" formControlName="fcityInput" required pattern="[a-zA-Z]{3,15}">
                                        <label for="mobile">City </label>
                                        <mdb-error *ngIf="cityInput.invalid && (cityInput.dirty ||cityInput.touched)"></mdb-error>
                                        <mdb-success *ngIf="cityInput.valid && (cityInput.dirty ||cityInput.touched)"></mdb-success>
                                    </div>
                                    <div class="md-form md-outline ">
                                        <input mdbInput mdbValidate type="tel " id="pincode" class="form-control" formControlName="fpincodeInput" required pattern="[1-9][0-9]{5}">
                                        <label for="pincode">Pincode </label>
                                        <mdb-error *ngIf="pincodeInput.invalid && (pincodeInput.dirty ||pincodeInput.touched)">
                                        </mdb-error>
                                        <mdb-success *ngIf="pincodeInput.valid && (pincodeInput.dirty ||pincodeInput.touched)">
                                        </mdb-success>
                                    </div>


                                    <div class="text-center mb-3 ">
                                        <button type="submit" routerLink="" [disabled]='fnameInput.invalid || femailInput.invalid || fmobileInput.invalid || faddressInput.invalid || fcityInput.invalid || fpincodeInput.invalid' class="btn btn-secondary btn-block ">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Default horizontal form -->
                    </div>
                </div>

                <!--/.Panel 2-->
            </div>

        </div>
    </div>
</div>