<div class="jumbotron card card-image mb-0" class="blue-gradient">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h1 class="heading-1" style="font-size: 100px;font-weight: bolder;" class="peach">
        404
      </h1>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>OOPS!!!!</strong></h2>
      <p class="mx-5 mb-5">There is something problem with the link or it may be us!
        Sorry... Keep trying untill then.
      </p>
      <a class="btn btn-lg btn-outline peach-gradient" routerLink='/'><i class="fas fa-home left"></i>Home</a>
    </div>
  </div>
</div>
