<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
<div class="jumbotron card card-image mb-0" class="blue-gradient">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h1 class="heading-1" style="font-size: 100px;font-weight: bolder;" class="peach">
        404
      </h1>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>OOPS!!!!</strong></h2>
      <p class="mx-5 mb-5">There is something problem with the link or it may be us!
        Sorry... Keep trying untill then.
      </p>
      <a class="btn btn-lg btn-outline peach-gradient" routerLink='/'><i class="fas fa-home left"></i>Home</a>
    </div>
  </div>
</div>
<!-- <div class="jumbotron card card-image mb-0">
<div class="container container-star">
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
  </div>
  <div class="container container-bird">
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="container-title">
      <div class="title">
        <div class="number">4</div>
        <div class="moon">
          <div class="face">
            <div class="mouth"></div>
            <div class="eyes">
              <div class="eye-left"></div>
              <div class="eye-right"></div>
            </div>
          </div>
        </div>
        <div class="number">4</div>
      </div>
      <div class="subtitle">Oops. Looks like you took a wrong turn.</div>
      <button>Go back</button>
    </div>
  </div>
  </div> -->