<!--Section: Features v.3-->
<section>

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">Pay Postpaid Bill Online</h2>


  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 text-center text-lg-left">
      <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">
      <div style="height: 20px;"></div>
      <!--Grid row-->
      <form [formGroup]="paybillForm">
        <div class="form-row text-white text-center">
          <div class="col-md-4">

            <div class="md-form md-bg form-lg">
              <input mdbValidate type="tel" id="mobile" class="form-control form-control-lg"
                 mdbInput formControlName="mobileInput" required pattern="[6789][0-9]{9}">
              <label for="form-bg-lg">Mobile</label>
              <mdb-error *ngIf="mobileInput.invalid && (mobileInput.dirty || mobileInput.touched)"></mdb-error>
              <mdb-success *ngIf="mobileInput.valid && (mobileInput.dirty || mobileInput.touched)"> </mdb-success>
            </div>
          </div>
          <div class="col-md-4">
              <div class="md-form md-bg form-lg">
                <input mdbValidate type="text" id="amount" class="form-control form-control-lg"
                  mdbInput formControlName="amountInput" required pattern="[0-9]{2,4}">
                <label for="form-bg-lg">Amount</label>
                <mdb-error *ngIf="amountInput.invalid && (amountInput.dirty || amountInput.touched)"></mdb-error>
                <mdb-success *ngIf="amountInput.valid && (amountInput.dirty || amountInput.touched)"> </mdb-success>
              </div>
          </div>
          
          <div class="col-md-3">
            <div class="md-form form-lg">
              <input mdbInput mdbBtn routerLink="/payment" [disabled]='mobileInput.invalid || amountInput.invalid' type="submit" size="lg" rounded="true" gradient="blue"
                class="form-control form-control-lg text-white mt-0" value="Submit">
            </div>
          </div>

        </div>
      </form>
      <!--Grid row-->
      <div class="row pl-2">
        <!-- Collapse buttons -->
        <div>

          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            View Amount
          </button>
        </div>
        <!-- / Collapse buttons -->

        <!-- Collapsible element -->
        <div class="collapse" id="collapseExample">
          <div class="mt-3">
            Your Bill Amount is Rs 250.0
          </div>
        </div>
        <!-- / Collapsible element -->
      </div>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->