<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="row pt-3 pb-3">
		<div class="col-md-12 text-center">
			<h2 class="text-primary">Postpaid Connection</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<h5 class="pb-4">Fill the below form to get your SIM home delivered</h5>
			<!-- Default horizontal form -->
			<form>
				<!-- Grid row -->
				<div class="form-group row">
					<!-- Default input -->
					<label for="inputName3" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputName3" placeholder="Name">
					</div>
				</div>
				<!-- Grid row -->
				<!-- Grid row -->
				<div class="form-group row">
					<!-- Default input -->
					<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>
				<!-- Grid row -->

				<!-- Grid row -->
				<div class="form-group row">
					<!-- Default input -->
					<label for="inputMobile3" class="col-sm-2 col-form-label">Mobile</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="inputMobile3" placeholder="Mobile Number">
					</div>
				</div>
				<!-- Grid row -->
				<!-- Grid row -->
				<div class="form-group row">
					<!-- Default input -->
					<label for="inputAddress3" class="col-sm-2 col-form-label">Address</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputAddress3" placeholder="Email">
					</div>
				</div>
				<!-- Grid row -->
				<!-- Grid row -->
				<div class="form-group row">
					<!-- Default input -->
					<label for="inputCity3" class="col-sm-2 col-form-label">City</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputCity3" placeholder="Email">
					</div>
				</div>
				<!-- Grid row -->
				<!-- Grid row -->
				<div class="form-group row">
					<!-- Default input -->
					<label for="inputPincode3" class="col-sm-2 col-form-label">Pincode</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputPincode3" placeholder="Email">
					</div>
				</div>
				<!-- Grid row -->
				<div class="col-md-7 pt-3 pb-3">
					<select class="browser-default custom-select custom-select-lg mb-3">
						<option value="" disabled selected>Choose a number of your choice</option>
						<option value="1">9956514786</option>
						<option value="2">8956221478</option>
						<option value="3">7896541265</option>
						<option value="4">8966655254</option>
						<option value="5">9962448545</option>
					</select>
				</div>

				<!-- Grid row -->
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-secondary btn-lg">Confirm Order</button>
					</div>
				</div>
				<!-- Grid row -->
			</form>
			<!-- Default horizontal form -->
		</div>
		<div class="col-md-1">

		</div>

		<div class="col-md-4">
			<h5 class="pb-4">Select a pack</h5>
			<div class="card border-secondary mb-3" style="max-width: 30rem; height: 14rem;">
				<div class="card-header text-white bg-secondary">UNLIMITED</div>
				<div class="card-body text-secondary">
					<div class="row">
						<div class="col">
							<h6 class="card-title text-dark">Data: <span>&nbsp;50 GB with carry forward upto 200
									GB</span></h6>
							<h6 class="card-title text-dark">Talktime: <span>&nbsp;Unlimited</span></h6>
							<h6 class="card-title text-dark">Validity :<span>&nbsp;1 month</span></h6>
						</div>

						<div class="col">
							<div class="ml-3 pt-5">
								<button type="button" class="btn btn-outline-secondary waves-effect"
									style="font-size: 15px"><i class="fa fa-rupee"></i>499</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<br>
			<div class="card border-secondary mb-3" style="max-width: 30rem; height: 14rem;">
				<div class="card-header text-white bg-secondary">UNLIMITED</div>
				<div class="card-body text-secondary">
					<div class="row">
						<div class="col">
							<h6 class="card-title text-dark">Data: <span>&nbsp;100 GB with carry forward upto 200
									GB</span></h6>
							<h6 class="card-title text-dark">Talktime: <span>&nbsp;Unlimited</span></h6>
							<h6 class="card-title text-dark">Validity:<span>&nbsp;1 month</span></h6>
						</div>
						<div class="col">
							<div class="ml-3 pt-5">
								<button type="button" class="btn btn-outline-secondary waves-effect"
									style="font-size: 15px"><i class="fa fa-rupee"></i>999</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>