<a routerLink='/logout' class="btn btn-lg gradthree">Logout</a>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="card col-lg-4 mx-auto col-md-8 col-sm-12 mt-2 mb-2">
        <div class="card-body mx-4">
            <div class="text-center">
                <h3 class="dark-grey-text mb-5">
                    <strong>Sign Up</strong>
                </h3>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate type="text" id="name" class="form-control" formControlName="nameInput" [(ngModel)]="logindetails.name" required pattern="[A-Za-z\s]{5,15}">
                <label for="name">Name </label>
                <mdb-error *ngIf="nameInput.invalid && (nameInput.dirty ||nameInput.touched)"> </mdb-error>
                <mdb-success *ngIf="nameInput.valid && (nameInput.dirty ||nameInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control" formControlName="emailInput" [(ngModel)]="logindetails.email" required pattern="[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                <label for="email">Email </label>
                <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty ||emailInput.touched)"></mdb-error>
                <mdb-success *ngIf="emailInput.valid && (emailInput.dirty ||emailInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate name="mobile" type="tel" id="mobile" class="form-control" formControlName="mobileInput" [(ngModel)]="logindetails.phone" required pattern="[789][0-9]{9}">
                <label for="mobile">Mobile </label>
                <mdb-error *ngIf="mobileInput.invalid && (mobileInput.dirty ||mobileInput.touched)"></mdb-error>
                <mdb-success *ngIf="mobileInput.valid && (mobileInput.dirty ||mobileInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate name="passwordInput" id="passwordInput" type="password" class="form-control" formControlName="passwordInput" [(ngModel)]="logindetails.password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                <label for="password">Password </label>
                <mdb-error *ngIf="passwordInput.invalid && (passwordInput.dirty ||passwordInput.touched)">Password must contain atleast one uppercase and a digit</mdb-error>
                <mdb-success *ngIf="passwordInput.valid && (passwordInput.dirty ||passwordInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline pb-3">
                <input mdbInput name="repasswordInput" id="repasswordInput" type="password" class="form-control" formControlName="repasswordInput" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                <label for="repassword">Re-enter Password </label>
                <mdb-error *ngIf="repasswordInput.touched && passwordInput.value!=repasswordInput.value">Password not matched</mdb-error>

            </div>
            <div class="text-center mb-3">
                <button type="submit" [disabled]='emailInput.invalid || mobileInput.invalid || repasswordInput.invalid || passwordInput.value!=repasswordInput.value' class="btn blue-gradient btn-block rounded z-depth-1a waves-effect waves-light text-white">Sign up</button>

            </div>
        </div>
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Already a member?
                <a routerLink="/login" class="blue-text ml-1"> Log In</a>
            </p>
        </div>
    </div>
</form>
