<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div></div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3">
            <div class="sidebar ">
                <div class="pt-3 pb-3 pl-2">
                    <strong style="font-size: 20px">Make your payment now using</strong>
                </div>
                <div class="list-group list-group-flush">

                    <a class="list-group-item list-group-item-action waves-effect active" data-toggle="tab" href="#panel1" role="tab">
                        <mdb-icon fas icon="credit-card" class="mr-3"></mdb-icon>Credit Card
                    </a>
                    <div></div>
                    <a class="list-group-item list-group-item-action waves-effect" data-toggle="tab" href="#panel2" role="tab">
                        <mdb-icon fas icon="digital-tachograph" class="mr-3"></mdb-icon>Debit Card
                    </a>
                    <a class="list-group-item list-group-item-action waves-effect" data-toggle="tab" href="#panel3" role="tab">
                        <mdb-icon fas icon="wallet" class="mr-3"></mdb-icon>Paytm
                    </a>

                </div>

            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-9">
            <div class="tab-content">
                <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                    <!--/.your content here-->
                    <form [formGroup]="payform">
                        <div class="card col-lg-7 mx-auto col-md-8 col-sm-12 mt-2 mb-2">
                            <div class="card-body mx-4">
                                <div class="text-center">
                                    <h3 class="dark-grey-text mb-5">
                                        <strong>Payment</strong>
                                    </h3>
                                </div>
                                <label for="fname">Accepted Cards</label>
                                <div class="icon-container">
                                    <i class="fab fa-cc-visa" style="color:navy;width:20px"></i>
                                    <i class="fab fa-cc-amex" style="color:blue;width:20px"></i>
                                    <i class="fab fa-cc-mastercard" style="color:red;width:20px"></i>
                                    <i class="fab fa-cc-discover" style="color:orange;width:20px"></i>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="name" type="text" id="name" class="form-control" formControlName="name" pattern="[a-zA-Z\s]{5,25}">
                                    <label for="form2">Name on card </label>
                                    <mdb-error *ngIf="name.invalid && (name.dirty ||name.touched)"> </mdb-error>
                                    <mdb-success *ngIf="name.valid && (name.dirty ||name.touched)"></mdb-success>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="cardno" type="tel" id="cardno" class="form-control" formControlName="cardno" pattern="[1-9]{4}-?[0-9]{4}-?[0-9]{4}-?[0-9]{4}">
                                    <label for="form2">Credit Card number </label>
                                    <mdb-error *ngIf="cardno.invalid && (cardno.dirty ||cardno.touched)"> </mdb-error>
                                    <mdb-success *ngIf="cardno.valid && (cardno.dirty ||cardno.touched)"></mdb-success>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="expyear" id="expyear" placeholder="" type="month" class="form-control" formControlName="expyear">
                                    <label for="form2">Exp Year </label>
                                    <mdb-error *ngIf="expyear.invalid && (expyear.dirty ||expyear.touched)"> </mdb-error>
                                    <mdb-success *ngIf="expyear.valid && (expyear.dirty ||expyear.touched)"></mdb-success>
                                </div>

                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="ccv" id="ccv" type="text" class="form-control" formControlName="ccv" pattern="[0-9]{3,4}">
                                    <label for="form2">CCV</label>
                                    <mdb-error *ngIf="ccv.invalid && (ccv.dirty ||ccv.touched)"> </mdb-error>
                                    <mdb-success *ngIf="ccv.valid && (ccv.dirty ||ccv.touched)"></mdb-success>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="camt" id="camt" type="number" [(ngModel)]="amount" class="form-control" formControlName="camt" pattern="[1-9][0-9]+">
                                    <label for="form4">Amount</label>
                                    <mdb-error *ngIf="camt.invalid && (camt.dirty ||camt.touched)"> </mdb-error>
                                    <mdb-success *ngIf="camt.valid && (camt.dirty ||camt.touched)"></mdb-success>
                                </div>
                                <div class="text-center mb-3">
                                    <button type="submit" (click)="createrecharge()" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-effect waves-light text-white" [disabled]="name.invalid || cardno.invalid || ccv.invalid || expyear.invalid">Pay now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--/.Panel 1-->

                <!--Panel 2-->
                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <form [formGroup]="dpayform">
                        <div class="card col-lg-7 mx-auto col-md-8 col-sm-12 mt-2 mb-2">
                            <div class="card-body mx-4">
                                <div class="text-center">
                                    <h3 class="dark-grey-text mb-5">
                                        <strong>Payment</strong>
                                    </h3>
                                </div>
                                <label for="fname">Accepted Cards</label>
                                <div class="icon-container">
                                    <i class="fab fa-cc-visa" style="color:navy;width:20px"></i>
                                    <i class="fab fa-cc-amex" style="color:blue;width:20px"></i>
                                    <i class="fab fa-cc-mastercard" style="color:red;width:20px"></i>
                                    <i class="fab fa-cc-discover" style="color:orange;width:20px"></i>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="dname" type="text" id="dname" class="form-control" formControlName="dname" pattern="[a-zA-Z\s]{5,25}">
                                    <label for="form3">Name on card </label>
                                    <mdb-error *ngIf="dname.invalid && (dname.dirty ||dname.touched)"> </mdb-error>
                                    <mdb-success *ngIf="dname.valid && (dname.dirty ||dname.touched)"></mdb-success>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="dcardno" type="tel" id="dcardno" class="form-control" formControlName="dcardno" pattern="[1-9]{4}-?[0-9]{4}-?[0-9]{4}-?[0-9]{4}">
                                    <label for="form3">Debit Card number </label>
                                    <mdb-error *ngIf="dcardno.invalid && (dcardno.dirty ||dcardno.touched)"> </mdb-error>
                                    <mdb-success *ngIf="dcardno.valid && (dcardno.dirty ||dcardno.touched)"></mdb-success>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="dexpyear" id="dexpyear" placeholder="" type="month" class="form-control" formControlName="dexpyear">
                                    <label for="form3">Exp Year </label>
                                    <mdb-error *ngIf="dexpyear.invalid && (dexpyear.dirty ||dexpyear.touched)"> </mdb-error>
                                    <mdb-success *ngIf="dexpyear.valid && (dexpyear.dirty ||dexpyear.touched)"></mdb-success>
                                </div>

                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="dccv" id="dccv" type="text" class="form-control" formControlName="dccv" pattern="[0-9]{3,4}">
                                    <label for="form3">CCV</label>
                                    <mdb-error *ngIf="dccv.invalid && (dccv.dirty ||dccv.touched)"> </mdb-error>
                                    <mdb-success *ngIf="dccv.valid && (dccv.dirty ||dccv.touched)"></mdb-success>
                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="damt" id="damt" type="number" [(ngModel)]="amount" class="form-control" formControlName="damt" pattern="[1-9][0-9]+">
                                    <label for="form4">Amount</label>
                                    <mdb-error *ngIf="damt.invalid && (damt.dirty ||damt.touched)"> </mdb-error>
                                    <mdb-success *ngIf="damt.valid && (damt.dirty ||damt.touched)"></mdb-success>
                                </div>
                                <div class="text-center mb-3">
                                    <button type="submit" (click)="createrecharge()" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-effect waves-light text-white" [disabled]="dname.invalid || dcardno.invalid || dccv.invalid || dexpyear.invalid">Pay now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--/.Panel 2-->
                <div class="tab-pane fade" id="panel3" role="tabpanel">
                    <form [formGroup]="ppayform">
                        <div class="card col-lg-7 mx-auto col-md-8 col-sm-12 mt-2 mb-2">
                            <div class="card-body mx-4">
                                <div class="text-center">
                                    <h3 class="dark-grey-text mb-5">
                                        <strong>Payment</strong>
                                    </h3>
                                </div>
                                <div class="icon-container">
                                    <i class="fas fa-check" style="color:green;"></i><strong>Pay using paytm wallet</strong>

                                </div>
                                <div class="md-form md-outline">
                                    <input mdbInput mdbValidate name="pnumber" type="tel" id="pnumber" class="form-control" formControlname="pnumber" pattern="[678][0-9]{9}">
                                    <label for="form4">Phone number </label>
                                    <mdb-error *ngIf="pnumber.invalid && (pnumber.dirty ||pnumber.touched)"> </mdb-error>
                                    <mdb-success *ngIf="pnumber.valid && (pnumber.dirty ||pnumber.touched)"> </mdb-success>
                                </div>



                                <div class="md-form md-outline">
        
                                    <input mdbInput mdbValidate name="amt" id="amt" type="number" [(ngModel)]="amount" class="form-control" formControlName="amt" pattern="[1-9][0-9]+">
                                    <label for="form4">Amount</label>

                                    <mdb-error *ngIf="amt.invalid && (amt.dirty ||amt.touched)"> </mdb-error>
                                    <mdb-success *ngIf="amt.valid && (amt.dirty ||amt.touched)"></mdb-success>
                                </div>
                                <div class="text-center mb-3">
                                    <button type="submit" (click)="createrecharge()" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-effect waves-light text-white" [disabled]="pnumber.invalid || amt.invalid">Pay now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</body>

</html>