<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Section: Features v.3-->
<section>

  <div class="row pt-3 pb-5">
    <div class="container">
      <div style="height: 20px;"></div>

      <form>
        <div class="form text-white text-center">
          <div class="row offset-2">
            <div class="col-md-4">
              <div class="md-form md-bg form-lg">
                <input mdbValidate name="mobile" type="tel" id="form-bg-lg" class="form-control form-control-lg"
                  type="text" mdbInput [(ngModel)]="mobile" #input="ngModel" required pattern="[6789][0-9]{9}">
                <label for="form-bg-lg">Mobile</label>
                <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)"></mdb-error>
                <mdb-success *ngIf="input.valid && (input.dirty || input.touched)"> </mdb-success>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form md-bg form-lg">
                <input mdbValidate name="amount" type="number" id="form-bg-lg" class="form-control form-control-lg"
                  mdbInput [(ngModel)]="amount" #input="ngModel" required pattern="[0-9]{2,4}">
                <label for="form-bg-lg">Amount</label>
                <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)"></mdb-error>
                <mdb-success *ngIf="input.valid && (input.dirty || input.touched)"> </mdb-success>
              </div>
            </div>
            <div class="col-auto">
              <div class="md-form form-lg">
                <input mdbInput mdbBtn routerLink="/payment" type="submit" size="lg" rounded="true" gradient="blue"
                  class="form-control form-control-lg text-white mt-0 my-0" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="pl-5 pb-4">
      <h3>Recharge Packs</h3>
    </div>
    <div class="row mx-auto">

      <div class="card-deck pl-5">
        <div class="card border-secondary mb-3" style="width: 30rem;">
          <div class="card-header text-white bg-secondary">DATA</div>
          <div class="card-body">
            <h5 class="card-title text-dark">Data:<span>&nbsp; 3 GB </span></h5>
            <h5 class="card-title text-dark">Talktime: <span>&nbsp;Rs.0</span></h5>
            <h5 class="card-title text-dark">Validity: <span>&nbsp;28 days</span></h5>
            <button type="button" class="btn btn-outline-secondary waves-effect" style="font-size: 15px"><i
                class="fa fa-rupee"></i>50</button>
          </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
          <div class="card-header text-white bg-secondary">UNLIMITED</div>
          <div class="card-body text-secondary">
            <h5 class="card-title text-dark">Data: <span>&nbsp;1.5 GB per day</span></h5>
            <h5 class="card-title text-dark">Talktime: <span>&nbsp;Unlimited</span></h5>
            <h5 class="card-title text-dark">Validity: <span>&nbsp;84 days</span></h5>
            <button type="button" class="btn btn-outline-secondary waves-effect" style="font-size: 15px"><i
                class="fa fa-rupee"></i>399</button>
          </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
          <div class="card-header text-white bg-secondary">TALKTIME</div>
          <div class="card-body text-secondary">
            <h5 class="card-title text-dark">Data: <span>&nbsp;100 Mb</span></h5>
            <h5 class="card-title text-dark">Talktime: <span>&nbsp;Rs.40</span></h5>
            <h5 class="card-title text-dark">Validity :<span>&nbsp;28 days</span></h5>
            <button type="button" class="btn btn-outline-secondary waves-effect" style="font-size: 15px"><i
                class="fa fa-rupee"></i>99</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5 pb-5"></div>
</section>
<!--Section: Features v.3-->