.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0; }
    .sidebar-fixed .list-group .active {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       }
    .sidebar-fixed .logo-wrapper {
      padding: 2.5rem; }
      .sidebar-fixed .logo-wrapper img {
        max-height: 50px; }
  
  @media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
      padding-left: 270px; } }
  
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
       } }

      .flex-column {
  .nav-item a {
    width: 100%;
    margin: 0;
    color: #495057;
    margin-bottom: -1px;
  }

  .active a {
    background-image: -webkit-gradient(linear,left bottom,left top,from(#30cfd0),to(#330867));
	  background-image: -webkit-linear-gradient(bottom,#30cfd0 0,#330867 100%);
	  background-image: -o-linear-gradient(bottom,#30cfd0 0,#330867 100%);
	  background-image: linear-gradient(to top,#30cfd0 0,#330867 100%);
    color: #fff !important;
  }
}

.flex-column.list-group {
  .nav-link {
    padding: 0 !important;
  }
}

.list-group-item-action {
    z-index: unset; // Fix for situation when in Safari list group item is invisible on hover
}

.list-group-item.active {
  z-index: 2;
  color: #ffffff;
  background: linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
}
.elegant-color {
    background-color: #2e2e2e!important;
}

.elegant-color-dark {
    background-color: #212121!important;
}

.stylish-color {
    background-color: #4b515d!important;
}

.stylish-color-dark {
    background-color: #3e4551!important;
}

.unique-color {
    background-color: #3f729b!important;
}

.unique-color-dark {
    background-color: #1c2331!important;
}

.special-color {
    background-color: #37474f!important;
}

.special-color-dark {
    background-color: #263238!important;
}

.purple-gradient {
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
}

.peach-gradient {
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}

.aqua-gradient {
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}

.blue-gradient {
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.purple-gradient-rgba {
    background: linear-gradient(40deg,rgba(255,110,196,.9),rgba(120,115,245,.9))!important;
}

.peach-gradient-rgba {
    background: linear-gradient(40deg,rgba(255,216,111,.9),rgba(252,98,98,.9))!important;
}

.aqua-gradient-rgba {
    background: linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
}

.blue-gradient-rgba {
    background: linear-gradient(40deg,rgba(69,202,252,.9),rgba(48,63,159,.9))!important;
}
