<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <a routerLink="/"><img class="d-block w-100" style="height: 300px;" src="./assets/images/1.png" alt="First slide"></a>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <a routerLink="/"><img class="d-block w-100" style="height: 300px;" src="./assets/images/2.png" alt="Second slide"></a>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <a routerLink="/"><img class="d-block w-100" style="height: 300px;" src="./assets/images/3.png" alt="Third slide"></a>
    </mdb-carousel-item>
</mdb-carousel>

<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
    <form>
        <div class="form-row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-5 col-md-5 col-sm-9 md-form form-lg md-outline">
                <input mdbInput mdbValidate name="mobile" type="tel" id="mobile" class="form-control form-control-lg mt-1" [(ngModel)]="mobile" #input="ngModel" required pattern="[6789][0-9]{9}">
                <label for="mobile">Mobile </label>
                <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)"> </mdb-error>
                <mdb-success *ngIf="input.valid && (input.dirty || input.touched)"></mdb-success>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 md-form form-lg">
                <input mdbInput mdbBtn routerLink="/prepaidrecharge" [disabled]='input.invalid' type="submit" size="lg" rounded="true" gradient="blue" class="form-control form-control-lg text-white mt-0" value="Pay bill">
            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md col-sm mx-auto">
            <mdb-card class="mb-4 text-center text-white card card-cascade" borderColor="border-info" style="height:30px;" style="max-width: 20rem">
                <mdb-card-body class="text-center offset-2">
                    <mdb-card-text>
                        <mdb-icon fas icon="mobile-alt" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                    </mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="blue-gradient"> <a routerLink="/prepaidrecharge" class="text-white">Prepaid Recharge </a>
                </mdb-card-footer>
            </mdb-card>
        </div>

        <div class="col-md col-sm mx-auto">
            <mdb-card class="mb-4 text-center text-white" borderColor="border-info" style="height:30px;" style="max-width: 20rem">
                <mdb-card-body class="text-center offset-2">
                    <mdb-card-text>
                        <mdb-icon fas icon="credit-card" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                    </mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="blue-gradient"> <a routerLink="/paybill" class="text-white">Postpaid Bill Payment</a>
                </mdb-card-footer>
            </mdb-card>
        </div>

        <div class="col-md col-sm mx-auto">
            <mdb-card class="mb-4 text-center text-white" borderColor="border-info" style="height:30px;" style="max-width: 20rem">
                <mdb-card-body class="text-center offset-2">
                    <mdb-card-text>
                        <mdb-icon fas icon="sim-card" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                    </mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="blue-gradient"> <a routerLink="/prepaid" class="text-white"> Prepaid connection
                    </a></mdb-card-footer>
            </mdb-card>
        </div>

        <div class="col-md col-sm mx-auto">
            <mdb-card class="mb-4 text-center text-white" borderColor="border-info" style="height:30px;" style="max-width: 20rem">
                <mdb-card-body class="text-center offset-2">
                    <mdb-card-text>
                        <mdb-icon fas icon="sim-card" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                    </mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="blue-gradient"> <a routerLink="/postpaid" class="text-white"> Postpaid
                        connection </a></mdb-card-footer>
            </mdb-card>
        </div>

        <div class="col-md col-sm mx-auto">
            <mdb-card class="mb-4 text-center text-white" borderColor="border-info" style="height:30px;" style="max-width: 20rem">
                <mdb-card-body class="text-center offset-2">
                    <mdb-card-text>
                        <mdb-icon fas icon="wifi" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                    </mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="blue-gradient"> <a routerLink="/dongle" class="text-white">Dongle
                    </a></mdb-card-footer>
            </mdb-card>
        </div>
    </div>
</div>