<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row pt-3 pb-3">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">Prepaid Connection</h2>
        </div>
    </div>
    <div class="text-center">
            <h5 class="pb-3">Fill the below form to get your SIM home delivered</h5>
            <!-- Default horizontal form -->
            <form [formGroup]="prepaidForm">
                <div class="card col-lg-8 mx-auto col-md-10 col-sm-12 mt-2 mb-2">
                    <div class="card-body mx-6">
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate type="text" id="name" class="form-control" formControlName="nameInput" required pattern="[a-zA-Z\s]{5,15}">
                            <label for="name">Name</label>
                            <mdb-error *ngIf="nameInput.invalid && (nameInput.dirty ||nameInput.touched)"></mdb-error>
                            <mdb-success *ngIf="nameInput.valid && (nameInput.dirty ||nameInput.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="emailInput" required pattern="[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                            <label for="email">Email </label>
                            <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty ||emailInput.touched)">
                            </mdb-error>
                            <mdb-success *ngIf="emailInput.valid && (emailInput.dirty ||emailInput.touched)">
                            </mdb-success>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate type="tel" id="mobile" class="form-control" formControlName="mobileInput" required pattern="[789][0-9]{9}">
                            <label for="mobile">Mobile </label>
                            <mdb-error *ngIf="mobileInput.invalid && (mobileInput.dirty ||mobileInput.touched)">
                            </mdb-error>
                            <mdb-success *ngIf="mobileInput.valid && (mobileInput.dirty ||mobileInput.touched)">
                            </mdb-success>
                        </div>

                        <div class="md-form md-outline">
                            <input mdbInput mdbValidate type="text" id="address" class="form-control" formControlName="addressInput" required pattern="[0-9 a-z A-Z]*\,?[a-zA-Z\s]+\,?\s?[a-zA-Z]+">
                            <label for=" address ">Address </label>
                            <mdb-error *ngIf="addressInput.invalid && (addressInput.dirty ||addressInput.touched) ">
                            </mdb-error>
                            <mdb-success *ngIf="addressInput.valid && (addressInput.dirty ||addressInput.touched) ">
                            </mdb-success>
                        </div>
                        <div class="md-form md-outline ">
                            <input mdbInput mdbValidate type="text " id="city" class="form-control" formControlName="cityInput" required pattern="[a-zA-Z]{3,15}">
                            <label for="mobile">City </label>
                            <mdb-error *ngIf="cityInput.invalid && (cityInput.dirty ||cityInput.touched)"></mdb-error>
                            <mdb-success *ngIf="cityInput.valid && (cityInput.dirty ||cityInput.touched)"></mdb-success>
                        </div>
                        <div class="md-form md-outline ">
                            <input mdbInput mdbValidate type="tel " id="pincode" class="form-control" formControlName="pincodeInput" required pattern="[1-9][0-9]{5}">
                            <label for="pincode">Pincode </label>
                            <mdb-error *ngIf="pincodeInput.invalid && (pincodeInput.dirty ||pincodeInput.touched)">
                            </mdb-error>
                            <mdb-success *ngIf="pincodeInput.valid && (pincodeInput.dirty ||pincodeInput.touched)">
                            </mdb-success>
                        </div>
                        <div class="col-md-8 pt-3 pb-3 ">
                            <select class="browser-default custom-select custom-select-lg mb-3 ">
								<option value=" " disabled selected>Choose a number of your choice</option>
								<option value="1 ">9956514786</option>
								<option value="2 ">8956221478</option>
								<option value="3 ">7896541265</option>
								<option value="4 ">8966655254</option>
								<option value="5 ">9962448545</option>
							</select>
                        </div>

                        <div class="text-center mb-3 ">
                            <button type="submit " routerLink="/payment " [disabled]='nameInput.invalid || emailInput.invalid || mobileInput.invalid || addressInput.invalid || cityInput.invalid || pincodeInput.invalid' class="btn btn-secondary btn-block ">Submit</button>

                        </div>
                    </div>
                </div>
            </form>
            <!-- Default horizontal form -->
    </div>
</div>